:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	/* color: rgba(255, 255, 255, 0.87); */
	background-color: #db5d5d;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* a:hover {
	color: #535bf2;
} */

body {
	margin: 0;
	min-height: 100vh;
}

/*
@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
} */

/* Убираем белые линии между колонками в AntD Table */
.ant-table-cell::before {
  display: none !important;
}



h2.ant-typography {
  color: white !important;
}

/* Внешняя рамка всей таблицы */
.ant-descriptions-bordered {
  border: #293645; /* цвет внешней границы */
}

/* Лейблы (левая колонка) */
.ant-descriptions-bordered .ant-descriptions-item-label {
  border-right: #293645; /* правая граница */
  border-bottom: #293645; /* нижняя граница */
}

/* Контент (правая колонка) */
.ant-descriptions-bordered .ant-descriptions-item-content {
  border-bottom: #293645; /* нижняя граница */
}

/* .ant-card-extra {
  border-top: none !important;
} */

/* Для всех иконок в Input.Password */
.ant-input-password-icon {
    color: #8c8c8c !important;
}

.ant-input-password-icon:hover {
    color: #eeeeee !important;
}


/* Стили для иконок в DatePicker */
.ant-picker .ant-picker-suffix,
.ant-picker .ant-picker-clear {
    color: #8c8c8c !important;
}

/* При наведении */
.ant-picker:hover .ant-picker-suffix {
    color: #eeeeee !important;
}

/* При фокусе */
.ant-picker-focused .ant-picker-suffix {
    color: #eeeeee !important;
}